.message-list-container {
  height: 33vh;
  width: 100%;
  padding: 0 10px;
  overflow-y: auto;
  // padding-bottom: 10px;
}
.ant-mess {
  display: flex;
  flex-direction: column;
  height: 45vh;
}

.message-list {
  .ant-card-body {
    padding: 0 !important;
    // height: 40vh;
    overflow: hidden;
  }
  .ant-card-head {
    padding: 0 10px !important;
    min-height: 55px;
  }
  .ant-card-actions{
    padding: 0 10px !important;
  }
}
.spin-chat {
  display: flex;
  justify-content: center;
}
