.myLogo {
  padding: 0;
  margin: 0;
  font-family: 'Concert One', cursive;
  font-weight: 800;
  cursor: pointer;
  img {
    position: relative;
    top: -1.5px;
  }
}

.ck-content {
  height: 50vh;
}

.ant-comment-inner{
  padding-top: 0;
}

// menu

.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected {
  color: #1890ff;
  // border-bottom: 2px solid #1890ff !important;
  // border-bottom: none !important;
}

.ant-menu-horizontal > .ant-menu-overflowed-submenu,
.ant-menu-horizontal > .ant-menu-overflowed-submenu:hover {
  color: rgba($color: #000000, $alpha: .65) !important;
  border-top: none;
}

.ant-menu-horizontal > .ant-menu-item,
.ant-menu-horizontal > .ant-menu-submenu {
  border-bottom: none !important;
}

/* scroll */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(32, 117, 187, 0.637);
  -webkit-box-shadow: inset 0 0 6px rgba(32, 117, 187, 0.883); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(21, 99, 173, 0.486); 
  box-shadow: inset 0 0 6px rgba(131, 155, 185, 0.376); 
  -webkit-box-shadow: inset 0 0 6px rgba(131, 155, 185, 0.363); 
}
::-webkit-scrollbar-thumb:window-inactive {
background: rgba(94, 144, 202, 0.657); 
}
// content ant card
.ant-list-item-meta-content{
  max-width: 100%;
}
.ant-modal-body{
  max-height: 60vh;
  overflow-y: auto;
}
