.conversation-list-phone {
  // width: 80%;
  max-width: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 10px;
  .ant-list-item-meta {
    padding-left: 10px;
    padding-right: 10px;
  }
  .ant-list-item-meta-description {
    white-space: nowrap;
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
  .message-list-phone .ant-mess-phone{ 
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
    .ant-card-body{
    padding: 0 !important;
    height: 90vh;
      overflow: hidden;
    }
    .ant-card-actions{
      padding-left: 10px !important;
    }
  }
  .message-list-container-phone {
    height: 100%;
    width: 100%;
    padding: 0 10px;
    overflow-y: auto;
    // padding-bottom: 10px;
  }
  // .ant-mess {
  //   display: flex;
  //   flex-direction: column;
  //   height: 45vh;
  // }
  
  // .message-list {
  //   .ant-card-body {
  //     padding: 0 !important;
  //     height: 40vh;
  //     overflow: hidden;
  //   }
  //   .ant-card-head {
  //     padding: 0 10px !important;
  //     min-height: 55px;
  //   }
  //   .ant-card-actions{
  //     padding: 0 10px !important;
  //   }
  // }
  // .ant-mess-phone .ant-card-bordered{
  //   height: 80vh;
  // }
  
  // }
  