.message-list-container {
    height: 72vh;
    width: 100%;
    padding: 0 10px;
    overflow-y: auto;
    // padding-bottom: 10px;
    
  }
  .message-list-phone .ant-mess-phone{
    .ant-card-body{
    padding: 0 !important;
    height: 50%
  }
  .ant-card-head{
    padding-left: 5px !important;
    background-color: #e6f4ff
  }
  // .ant-mess-phone .ant-card-bordered{
  //   height: 80vh;
  // }
  
  }
  