.conversation-list {
    width: 80%;
    height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    .ant-list-item-meta-description{
      white-space: nowrap;
      width: 90%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .ant-card-head{
    padding: 0 5px 0  10px !important
  }
  .ant-card-head-title{
    padding: 10px
  }
  .ant-list-item:hover{
    cursor: pointer;
  background-color: rgba(182,191,200, 0.5);

  }
  