.ant-carousel {
  .slick-slide {
    margin-top: 0.5;
    text-align: center;
    height: 15%;
    line-height: 160px;
    background:aliceblue;
    overflow: hidden;
  
  }
  .slick-dots{
    background-color: lightblue;
    z-index: 0 !important;

  }
}
  .ant-card-actions{
      background-color:white !important;
  }